body {
    background-image: url(https://i.stack.imgur.com/vhoa0.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: rgb(78, 78, 228);
}

nav {
    margin-bottom: 100px;
}

.container {
    background-color: grey;
    margin-bottom: 100px;
}

footer {
    text-align: center;
    bottom: 0;
    padding: 3px;
    background-color: rgb(58, 58, 58);
    position: fixed;
    width: 100%;
    color: white;
}

form {
    margin-left: 20px;
    margin-bottom: 20px;
    margin-right: 20px;
}

a {
    color: rgb(75, 184, 218);
}

a:hover {
    color: gold;
}

a:active {
    color: black;
}